body {}

.navbar-collapse.collapse {
    background-color: black;
}

.top-buffer {
    margin-top: 15px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #349a2d;
}

.navbar-brand {
    color: rgb(20, 108, 68);
}

.nav-icon {
    padding: 2.3px;
}

#overlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    width: 180px;
    height: 250px;
    line-height: 250px;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.cover-image {
    width: 165px;
    height: 250px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: inline-block;
}

.img-overlay {
    text-align: left;
}

.cover-image div:hover {
    background-color: black;
    opacity: 0.75;
}

.text-overlay {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 24px;
    opacity: 0;
    width: 165px;
    text-align: center;
}

.cover-image:hover .text-overlay {
    opacity: 1;
}

.thumb-row {
    padding: 0;
    margin: 0;
    list-style: none;
}

.thumb-row div {
    float: left;
    height: 250px;
    width: 180px;
    margin-bottom: 15px;
    overflow: hidden;
}

.thumb-row img {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic;
    /* Better image scaling in IE */
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
